.statistics{
    background-color: rgb(221 223 219);
    margin-top: 80px;
    padding: 50px;
    margin-bottom: 50px;
}

.title{
    color:#3b3b3a;
    display: flex;
    justify-content: center;
}

.statlist{
    display: flex;
    padding: 0;
    justify-content: center;
}

.item{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #129ae2;
    padding: 20px;
    border: 2px solid white;
    width: 50px;
}

.label{
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.percentage{
    margin-top: 8px;
    color: white;
    font-weight: 750;
    display: flex;
        justify-content: center;
}