.friend-list{
display: flex;
flex-direction: column;
align-items: center;
background-color:rgb(221 223 219);

}
.items{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-radius: 15px;
    border: 2px;
    background-color: cornsilk;

    padding: 25px 150px 25px 150px;
    margin-bottom: 20px;   
}
.name{
color: black;    
}

.avatars{

}