.transactionhistory{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.top{
    background-color: aqua;
    width: 200px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 100px;
   padding-right: 100px;
}
.type{
width: 200px;
text-align: center;
    margin-right: 24px;
    background-color: beige;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    
 
}